<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/']"
        tooltip="A better understanding of our worlds emessions"
      >
        <span> Carbon Count• </span> Visualize Carbon footprint of each country
      </a>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="main">
    <div class="section section-examples" data-background-color="black">
      <img class="path" src="assets/img/path1.png" />

      <div class="space-50"></div>
      <div class="container text-center" >
        <tableau-viz 
          id="tableauViz"       
          src='https://public.tableau.com/views/2018-airTransportation-co2-emission/Sheet3?:language=en-US&:display_count=n&:origin=viz_share_link'>
        </tableau-viz>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">Carbon Count•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']"> </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/aarontravass/vthacks-x"
              >
                GitHub
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://live.vthacks.com/">
                VTHacks X
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="https://devpost.com/software/visualization-of-carbon-emission-with-ai-bot"
              >
                Team
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/NdDhanush"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
